<!DOCTYPE html>
<html lang="en">

<head>
	<style>

		*{
			box-sizing:border-box;
		}
		body{
			background-color:#abd9e9;
			font-family:Arial;
		}
		#container{
			width:1050px;
			height:800px;
			background:#eff3f7;
			margin:0 auto;
			font-size:0;
			border-radius:5px;
			overflow:hidden;
		}
		aside{
			width:350px;
			height:800px;
			background-color:#3b3e49;
			display:inline-block;
			font-size:15px;
			vertical-align:top;
		}
		main{
			width:700px;
			height:800px;
			display:inline-block;
			font-size:15px;
			vertical-align:top;
		}
		
		aside header{
			padding:30px 20px;
		}
		aside input{
			width:100%;
			height:50px;
			line-height:50px;
			padding:0 50px 0 20px;
			background-color:#5e616a;
			border:none;
			border-radius:3px;
			color:#fff;
			background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
			background-repeat:no-repeat;
			background-position:170px;
			background-size:40px;
		}
		aside input::placeholder{
			color:#fff;
		}
		aside ul{
			padding-left:0;
			margin-left:00px;
			list-style-type:none;
			overflow-y:scroll;
			height:690px;
		}
		aside li{
			padding:10px 0 10px 0;
			margin-bottom: 5px;
			position: relative;
			

			
		}
		aside li:hover{
			background-color:#5e616a;
		}
		h2,h3{
			margin-left: 30px;
			margin:0;
			padding-left: 20px;
		}
		aside li img{
			border-radius:50%;
			margin-left:0;
			margin-right:0;
		}
		aside li div{
			display:inline-block;
			vertical-align:top;
			margin-top:12px;
		}
		aside li h2{
			font-size:20px;
			color:black;
			
			margin-bottom:5px;
		}
		aside li h3{
			font-size:12px;
			color:#7e818a;
			font-weight:normal;
		}
		
		.status{
			width:8px;
			height:8px;
			border-radius:50%;
			display:inline-block;
			margin-right:7px;
		}
		.green{
			background-color:#58b666;
		}
		.orange{
			background-color:#ff725d;
		}
		.blue{
			background-color:#6fbced;
			margin-right:0;
			margin-left:7px;
		}
		
		#currentchat{
			font-size: 20px;
			background-color: rgb(238, 243, 247);
		}
		#unseentag{
			font-size: 10px;
			border: 1px solid red;
			background-color: red;
			color: white;
			padding: 8px;
			margin:0;
			left: 250px;
			top: 30px;
			position: absolute;
			border-radius: 35px 35px;
		}
		
		
		main header{
			height:110px;
			padding:30px 20px 30px 40px;
		}
		main header > *{
			display:inline-block;
			vertical-align:top;
		}
		main header img:first-child{
			border-radius:50%;
		}
		main header img:last-child{
			width:24px;
			margin-top:8px;
		}
		main header div{
			margin-left:10px;
			margin-right:145px;
		}
		main header h2{
			font-size:16px;
			margin-bottom:5px;
		}
		main header h3{
			font-size:14px;
			font-weight:normal;
			color:#7e818a;
		}
		
		#chat{
			padding-left:0;
			margin:0;
			list-style-type:none;
			overflow-y:scroll;
			height:535px;
			border-top:2px solid #fff;
			border-bottom:2px solid #fff;
		}
		#chat li{
			padding:10px 30px;
		}
		#chat h2,#chat h3{
			display:inline-block;
			font-size:13px;
			font-weight:normal;
		}
		#chat h3{
			color:#bbb;
		}
		#chat .entete{
			margin-bottom:5px;
		}
		#chat .message{
			padding:15px;
			color:#fff;
			line-height:15px;
			max-width:90%;
			min-width: 40px;
			display:inline-block;
			text-align:left;
			border-radius:5px;
		}
		#chat .me{
			text-align:right;
		}
		#chat .you .message{
			background-color:#58b666;
		}
		#chat .me .message{
			background-color:#6fbced;
		}
		#chat .triangle{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
		}
		#chat .you .triangle{
				border-color: transparent transparent #58b666 transparent;
				margin-left:15px;
		}
		#chat .me .triangle{
				border-color: transparent transparent #6fbced transparent;
				margin-left:575px;
		}
		
		main footer{
			height:155px;
			padding:20px 30px 10px 20px;
		}
		main footer textarea{
			resize:none;
			border:none;
			display:block;
			width:100%;
			height:80px;
			border-radius:3px;
			padding:20px;
			font-size:13px;
			margin-bottom:13px;
		}
		main footer textarea::placeholder{
			color:#ddd;
		}
		main footer img{
			height:30px;
			cursor:pointer;
		}
		main footer a{
			
			margin-left:533px;
			margin-top:5px;
			display:inline-block;
		}
		main input[type=submit]{
			text-decoration:none;
			text-transform:uppercase;
			font-weight:bold;
			color:#6fbced;
			vertical-align:top;
			position: absolute;
			margin-top:10px;
			margin-left: 500px;
		}
		
	</style>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBox</title>
</head>
<body>
	<div id="container">
		<aside>
			<header>
				<input type="text" placeholder="search">
			</header>
			<ul id="list">
			
			</ul>
		</aside>
		<main id="chatbox">
			<header>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
				<div>
					<h2 id="chatname">User</h2>
					
				</div>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
			</header>
			<ul id="chat">
				
			</ul>
			
			<footer>
				<form action="/send" id="test1">
				<textarea  name="message" placeholder="Type your message"></textarea>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
				<input type="submit" name="" id="inputchat">
				</form>
			</footer>
		</main>
	</div>
  
    <div id="hi">ChatBox</div>
</body>
<script>

	function scroll() {
		var obj = document.getElementById("chatbox");
		obj.scrollTop = obj.scrollHeight;
	}

	const newparams = new URLSearchParams(window.location.search)
	
	var urlparam = newparams.get('q')
	console.log( newparams.has('q'))
	console.log(urlparam)
	

	if(newparams.has('s')){
		$.ajax({
			url:'/chat/gtname?id='+urlparam,
			type: 'GET',
			success: function(data){
				console.log(data)
				$('#chatname').html(data)
			}
		})
		
	}
	function updatemsg(){
		$.ajax({
			url:'/chat/chatusers?q='+ urlparam,
			type: 'GET',
			success: function(data){
				console.log(data)
				$('#list').html(data)
			}
		})
	if (newparams.has('q'))
	{

	$.ajax({
		url: '/chat/id?q='+ urlparam,
		type: 'GET',
		success: function(data){
			
			$('#chat').html(data)
			scroll()
		}
	})
	


}
}
updatemsg()

function scroll() {
	var elem = document.getElementById('chat');
	elem.scrollTop = elem.scrollHeight;
  }

    
		$('#test1').submit(function (e) {
		e.preventDefault();
		console.log($.ajax)
		var data = $(this).serialize()
		console.log(data)
		geturl = '/chat/send?q='+urlparam
		$("#test1")[0].reset();
		$.ajax({
			url: geturl,
			data: data,
			type: 'POST',
			success: function(data){
				console.log(data)
				scroll()
				
				$('#chat').html(data)
			}
		});

});
	

/*
function ajaxreq(){

	const params = new URLSearchParams(window.location.search)
	var urlparam = params.get('q')
	console.log(params.has('q'))
	console.log(urlparam)
	$.ajax({
		url: '/chat?q='+ urlparam,
		type: 'GET',
		success: function(data){
			console.log(data)
			$('#hi').html(data)
		}
	})
}

*/
setInterval(() => {
 updatemsg()
}, 2000);
</script>
</html>

