<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact-us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <head>
    <style>
     #logo{
      height:150px;
  width:320px;
  margin-top:30px;
  padding-left: 70px;
 
  }
  .btn-default:hover {
    border-bottom: 5px solid #483D8B;
  }
  #logout{
 
    height:50px;
  width:170px;
  margin-top:20px;
  }
 
  #home{
    margin-top: 30px;
     margin-left: 10px;
   }
 
  #about{
     margin-top: 30px;
     margin-left: 30px;
   }
 
   #contact{
     margin-top: 30px;
     margin-left: 30px;
    }
   #services{
    margin-top: 30px;
    margin-left: 30px
    }
    body{
  background-image: url('images/back9.jpg');
  }
  #meet{
  margin-top: 30px;
  margin-left: 30px;
}
.ghost-button2 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color:black;
  border: 1.5px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
 
}
.ghost-button2:hover,
.ghost-button2:active {
  background-color: rgb(62, 123, 202);
  color:white;
  text-decoration: none;
  border: 1.5px solid white;
 
}
footer{
 
bottom: 0;
}
.footer-distributed{
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
 
padding: 55px 50px;
margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}
 
.footer-distributed .footer-left{
width: 40%;
}
 
.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}
 
.footer-distributed h3 span{
color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}
 
.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}
 
.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}
 
 
.footer-distributed .footer-center{
width: 35%;
}
 
.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}
 
.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}
 
.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}
 
.footer-distributed .footer-center p a{
color:  #5383d3;
text-decoration: none;;
}
 
.footer-distributed .footer-right{
width: 20%;
}
 
.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}
 
.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;
 
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
 
margin-right: 3px;
margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
.footer-distributed{
  font: bold 14px sans-serif;
 
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
 
.footer-distributed .footer-center i{
  margin-left: 0;
}
 
 
}
 
</style>
  </head>
</head>
  <body>
    <div class="row"  >
      <div class="col-sm-3">
       <img src="/images/logo.jpg" id="logo">
 
      </div>
       <div class="col-sm-7">
        <a href="/dashboard"><button type="button" class="btn btn-default" id="home" style="font-size: 18px;"><b>HOME</b></button></a>
        <a href="/aboutus"><button type="button" class="btn btn-default" id="about" style="font-size: 18px;"><b>ABOUT US</b></button></a>
        <a href="/services"><button type="button" class="btn btn-default" id="services" style="font-size: 18px;"><b>SERVICES</b></button></a>
        <a href="#"><button type="button" class="btn btn-default" id="contact" style="font-size: 18px;"><b>CONTACT US</b></button></a>
        <a href="/team"><button type="button" class="btn btn-default" id="meet" style="font-size: 18px;"><b>MEET THE TEAM</b></button></a>
      </div>
        <div class="col-sm-2">
          <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px;">
          </i><font style="font-size: 20px;">  Logout</font></a>
          </div>
      </div>
 
      <!-----------------------contact us---------------------------------------------->
      <h1 style="font-family: garamond;color:#483D8B"><b><center>Contact Us</center></b></h1><hr><br><br>
      <div class="row text-center">
 
      	<div class="col-sm-3">
      		<b>Communication Address</b><br>
            Center for aquatic livelihood jaljeevika
            11, Snehkunj Apartments,
            Jambhualkar Chowk,
            Vikas Nagar, Wanowari,
            Pune, M.H. 411040 , India<br><br>
 
            <b>Registered Address</b><br>
            Center for aquatic livelihood jaljeevika
            976, A/p Hingangaon Tal.
            K. Mahankal, Sangli M.H. 416405
            M.H. 416405,
             India
                  <br><br>
            <i class='fas fa-envelope'></i> neelkanth.mishra@jaljeevika.org<br>
             <i class='fas fa-envelope'></i> info@jaljeevika.org<br>
              <i class='fas fa-phone'></i>+918600043905<br>
              <i class='fas fa-phone'></i> 020 4123 0493
      	</div>
 
      	<div class="col-sm-6">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" 
            src="https://maps.google.com/maps?q=jaljeevija&t=&z=13&ie=UTF8&iwloc=&output=embed" 
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/en/">
                embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas 
                {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
      	</div>
 
 
      	<div class="col-sm-3">
          <div style="border:solid;padding: 30px;border-color: #483D8B">
          <div style="font-family:garamond;font-size: 30px">Get in Touch with Us:</div><br>
          <form>
       <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" required>
       </div>
      <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
       </div>
       <div class="form-group">
       <label for="message">Message:</label>
        <textarea class="form-control" rows="5" id="message"></textarea>
        </div>
       <button type="submit" class="btn btn-primary">Submit</button></form>
     </form>
      </div>
      </div>
</div>
 
<!---------------footer------------->
<footer class="footer-distributed">
 
  <div class="footer-left">
 
    <h3><span>Jaljeevika</span></h3>
 
    <p class="footer-links">
      <a href="/dashboard">Home</a>
      ·
      <a href="/aboutus">About Us</a>
      ·
      <a href="/services">Services</a>
      ·
      <a href="/contactus">Contact Us</a>
      ·
      <a href="/team">Meet the team</a>
      ·
      <a href="/users/logout">Logout</a>
    </p>
 
    <p class="footer-company-name">Jaljeevika &copy; 2020</p>
  </div>
 
  <div class="footer-center">
 
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Jambhualkar Chowk,Wanowari</span> Pune,India</p>
    </div>
 
    <div>
      <i class="fa fa-phone"></i>
      <p>411040</p>
    </div>
 
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">info@jaljeevika.org</a></p>
    </div>
 
  </div>
 
  <div class="footer-right">
 
    <p class="footer-company-about">
      <span>About the company</span>
      Centre for Aquatic Livelihood Jaljeevika is addressing the issue of small-scale fish farmers, building community resilience and capacity to enhance livelihood opportunities using existing water bodies, technology and leveraging institutions.
    </p>
 
    <div class="footer-icons">
 
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
 
 
    </div>
 
  </div>
 
</footer>
</body>
</html>
 
