<!DOCTYPE html>
<html lang="en">
<head>
  <title>Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <style>
     #logo{
      height:150px;
  width:320px;
  margin-top:30px;
  padding-left: 70px;
  }
   #a:hover{
     color:#00008B;
}
 #b:hover{
     color:#00008B;
}
 #c:hover{
     color:#00008B;
}
 #d:hover{
     color:#00008B;
}
 #e:hover{
     color:#00008B;
}
 #f:hover{
     color:#00008B;
}
 
 
 .btn-default:hover {
    border-bottom: 5px solid #00008B;
  }
  #logout
 {
  height:50px;
  width:170px;
  margin-top:20px;
 
}
 
 
  #home{
    margin-top: 30px;
     margin-left: 10px;
   }
 
  #about{
     margin-top: 30px;
     margin-left: 30px;
   }
 
   #contact{
     margin-top: 30px;
     margin-left: 30px;
    }
   #services{
    margin-top: 30px;
    margin-left: 30px;
    }
    #meet{
  margin-top: 30px;
  margin-left: 30px;
}
    #heading{
 
  font-family:garamond;
 
   }
   body{
  background-image: url('/images/b2.jpeg');
  }
  .ghost-button2 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color:black;
  border: 1.5px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
 
}
.ghost-button2:hover,
.ghost-button2:active {
  background-color: rgb(62, 123, 202);
  color:white;
  text-decoration: none;
  border: 1.5px solid white;
 
}
 
footer{
 
bottom: 0;
}
.footer-distributed{
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
 
padding: 55px 50px;
margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}
 
.footer-distributed .footer-left{
width: 40%;
}
 
.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}
 
.footer-distributed h3 span{
color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}
 
.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}
 
.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}
 
 
.footer-distributed .footer-center{
width: 35%;
}
 
.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}
 
.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}
 
.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}
 
.footer-distributed .footer-center p a{
color:  #5383d3;
text-decoration: none;;
}
 
.footer-distributed .footer-right{
width: 20%;
}
 
.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}
 
.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;
 
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
 
margin-right: 3px;
margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
.footer-distributed{
  font: bold 14px sans-serif;
 
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
 
.footer-distributed .footer-center i{
  margin-left: 0;
}
 
 
}
</style>
  </head>
  <body>
 
 
<div class="row">
    <div class="col-sm-3">
     <img src="/images/logo.jpg" id="logo"></div>
     <div class="col-sm-7">
      <a href="/dashboard"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b>HOME</b></button></a>
      <a href="/aboutus"><button type="button" class="btn btn-default" id="about" style="font-size: 20px;"><b>ABOUT US</b></button></a>
      <a href="#"><button type="button" class="btn btn-default" id="services" style="font-size: 20px;"><b>SERVICES</b></button></a>
      <a href="/contactus"><button type="button" class="btn btn-default" id="contact" style="font-size: 20px;"><b>CONTACT US</b></button></a>
      <a href="/team"><button type="button" class="btn btn-default" id="meet" style="font-size: 20px;" style="font-size: 20px;"><b>MEET THE TEAM</b></button></a>
   </div>
    <div class="col-sm-2">
      <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px;">
      </i><font style="font-size: 20px;">  Logout</font></a>
     </div>
     </div>
 
 
<!---------------------------------------------Services-------------------------------------------------->
<h1 id="heading" style="color:#483D8B"><b><center>OUR SERVICES<hr></center></b></h1><br><br>
<div clas="container-fluid" id="background">
<div class="row text-center">
	<div class="col-sm-1"></div>
<div class="col-sm-3 " id="a">
	<i class='far fa-building' style='font-size:45px'></i>
	<h2>Institution <br>Development</h2>
	We adhere to end value chain development approach. Establishing a set of micro-enterprise across value chain requires strengthening institutions capabilities and business acumen to internalize the process.
</div>
<div class="col-sm-4" id="b">
<i class='fas fa-laptop' style='font-size:45px'></i>
	<h2>IT-based <br>services</h2>
	Use of artificial intelligence and data analytics to support in taking the business decision, setting up community-based quality norms are going to leverage global opportunities in the aquaculture sector.
</div>
<div class="col-sm-3" id="c">
	<i class='fas fa-id-card' style='font-size:45px'></i>
	<h2>Business Service Providers</h2>
	Engaging rural youth as business service providers is an innovative strategy to integrate with extension system, market facilitation, convergence and quality control across the process.
</div>
<div class="col-sm-1"></div>
</div>
 
 
<br><br><br>
<div class="row text-center">
	<div class="col-sm-1"></div>
<div class="col-sm-3 " id="d" >
	<i class='fas fa-atom' style='font-size:50px'></i>
	<h2>Technology <br>sourcing</h2>
	Aquaculture and fisheries sector has progressed through incorporating technologies. Since most of the technologies are not accessible to communities, so we bring Science -farm together to adopt affordable, sustainable
 
</div>
<div class="col-sm-4" id="e">
	<i class='fas fa-fish' style='font-size:50px'></i>
	<h2>Sustainable Aquatic <br>Farming Practices</h2>
	We demonstrate integrated livelihood models to ensure doubling farmers income and enhance the productivity of existing water resources.We enable farmers to learn affordable and sustainable aquatic farming practices.
 
</div>
<div class="col-sm-3" id="f">
	<i class='far fa-lightbulb' style='font-size:50px'></i>
	<h2>Research & Advocacy <br>Partnership</h2>
	 Incorporating socio-economic and policy agenda within the ambit of study and documentation will help stakeholders to develop a mechanism for coming together.
 
</div>
 
<div class="col-sm-1"></div>
</div>
 
 </div>
 
 <!---------------footer------------->
<footer class="footer-distributed">
 
  <div class="footer-left">
 
    <h3><span>Jaljeevika</span></h3>
 
    <p class="footer-links">
      <a href="/dashboard">Home</a>
      ·
      <a href="/aboutus">About Us</a>
      ·
      <a href="/services">Services</a>
      ·
      <a href="/contactus">Contact Us</a>
      ·
      <a href="/team">Meet the team</a>
      ·
      <a href="/users/logout">Logout</a>
    </p>
 
    <p class="footer-company-name">Jaljeevika &copy; 2020</p>
  </div>
 
  <div class="footer-center">
 
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Jambhualkar Chowk,Wanowari</span> Pune,India</p>
    </div>
 
    <div>
      <i class="fa fa-phone"></i>
      <p>411040</p>
    </div>
 
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">info@jaljeevika.org</a></p>
    </div>
 
  </div>
 
  <div class="footer-right">
 
    <p class="footer-company-about">
      <span>About the company</span>
      Centre for Aquatic Livelihood Jaljeevika is addressing the issue of small-scale fish farmers, building community resilience and capacity to enhance livelihood opportunities using existing water bodies, technology and leveraging institutions.
    </p>
 
    <div class="footer-icons">
 
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
 
    </div>
 
  </div>
 
</footer>
 
 <script type="text/javascript">
 	$(document).ready(function(){
  $("i").click(function(){
    $("#comp_list").slideToggle("slow");
  });
});
 </script>
  </body>
  </html>
