<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet the Team</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/team.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="card">
                <div class="front">
                    <img src="https://aquamartstorage.blob.core.windows.net/images/anuj.jpg">
                </div>
                <div class="back">
                    <div class="details">
                        <h2>Anuj Jhamb<br><span>Backend Developer</span></h2>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/anuj.jhamb/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/jhamb23"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/anuj-jhamb/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/anuj_jhamb/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="front">
                    <img src="https://aquamartstorage.blob.core.windows.net/images/navpreet.jpg">
                </div>
                <div class="back">
                    <div class="details">
                        <h2>Navpreet Kaur<br><span>Frontend Developer</span></h2>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="front">
                    <img src="https://aquamartstorage.blob.core.windows.net/images/tharun.jpg">
                </div>
                <div class="back">
                    <div class="details">
                        <h2>Tharun Kumar<br><span>Backend Developer</span></h2>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="front">
                    <img src="https://aquamartstorage.blob.core.windows.net/images/lahari.jpg">
                </div>
                <div class="back">
                    <div class="details">
                        <h2>Lahari<br><span>Frontend Developer</span></h2>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>