<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Vendor Dashboard</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
    <style>
      li {
        position: relative;
      }
      .count{
        position: absolute;
        font-size: 20px;
        color: white;
        top:0;
        right: 0;
             }
      h4{
        
        background-color: red;
        line-height: 15px;
        font-size: 15px;
        color: white;
        border-radius: 10px 10px;
        border: 1px solid red;
   
      }
    </style>
    </head>
    <body>
    <div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
          <h1><a href="https://www.jaljeevika.org/" target="_blank">CENTER fOR AQUATIC LIVELIHOOD </a></h1><br>
          <h1><a href="https://www.jaljeevika.org/" target="_blank">Jaljeevika </a></h1>
    </div>
        <div id="menu">
          <ul>
            <li class="current_page_item"><a href="/vendor/addProduct" accesskey="2" title="">SELL</a></li>
            <li><a href="/vendor/myProducts" accesskey="2" title="">MyProducts</a></li>
            <li><a href="/vendor/contact" accesskey="3" title="">Contact Us</a></li>
            <li class="message"><a  href="/chat" accesskey="3" title="">Messages
           
              <!--<span  class="count"><h4 id="count">0</h4></span>-->
              
                 </a></li>
                 <li><a href="/vendor/logout" accesskey="3" title="">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="header-featured"> </div>
    
    <div id="wrapper">
      <div id="featured-wrapper">
        <div id="featured" class="container">
          <div class="column1"> <span class="icon icon-cogs"></span>
            <div class="title">
              <h2>What do we do</h2>
            </div>
            <p>Jaljeevika works with socially and economically weaker section, small - marginal farmers and socially marginalized groups through integrated livelihood approach to establish a culture of collective value chain development across aquatic livelihood segment.
    
    </p>
          </div>
          <div class="column2"> <span class="icon icon-legal"></span>
            <div class="title">
              <h2>The Challenge</h2>
            </div>
            <p>Fisheries offer immense potential to improve the livelihood the socially excluded communities. But there are several bottlenecks that need to be addressed to make fishery-related livelihood activity profitable. Fish farmers used to trade the fish to the local vendors as per the requirement but due to lack of technical support, knowledge centre, forward & backward linkage and other livelihood option this enterprise is unable to provide long term value to small scale fish farmers.
    
    </p>
          </div>
          <div class="column3"> <span class="icon icon-unlock"></span>
            <div class="title">
              <h2>Our Solution</h2>
            </div>
            <p>The challenges to fish farmers and producers’ organisations are many and interconnected. Considering the range of interconnected issue, Jaljeevika has developed an integrated model AQUA+ to leverage the power of technically competent community cadre as an extension agent and set up self-governed producers organisations to establish blue economy across the value chain. Once a cycle of interventions is completed, program implementation is handed over to producers organisation. Afterwards, the role of Jaljeevika gets transformed as incubation agency to support them in the execution of a business plan.
    
    </p>
          </div>
          <div class="column4"> <span class="icon icon-wrench"></span>
            <div class="title">
              <h2>Info</h2>
            </div>
            <p>Mail:info@jaljeevika.org</p><br>
    <p>Call: +918600043905</p>
          </div>
        </div>
      </div>
      <div id="extra" class="container">
        <h2>About Us</h2>
        <span></span> 
        <p>This is Centre for aquatic livelihood<strong>Jaljeevika</strong>, We aim to increase the potential productivity of water bodies, reduce distress rural migration and create layers of livelihood opportunities across the value chain. Aquaculture provides an inexpensive source of nutrition, alleviate poverty and ensure livelihood opportunities for millions of people.
    
     <a href="https://www.jaljeevika.org/">Know more at</a>.<br>
        <a href="#" class="button">Go to start</a> </div>
    </div>
    
    
    </div>
    </body>
    </html>
    
    <script>
      function getseen(){
         $.ajax({
           url: '/vendor/getunseen',
           type: 'GET',
           success: function(data){
                     console.log(data)
             $('#count').html(data)
           }
         });
       }
       setInterval(() => {
         getseen()
     }, 2000);
 
 
 
     </script>